main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
}

.main_info {
  width: 100%;
  max-width: 570px;
  height: auto;
  margin: 10px 30px;
}

.main_info p {
  font-size: 18px;
  margin: 20px 0 28px;
}

.main_info img {
  height: auto;
  margin: 10px 30px;
}

.main_info div {
  display: flex;
  column-gap: 32px;
}

.main_info div a,
.main_info div button {
  width: 100%;
  padding: 10px 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  transform: skew(-10deg);
}

.main_info div a {
  background: var(--red);
  border: 1px solid var(--red);
}

.main_info div a:hover {
  background:var(--white);
  color: var(--black);
  transition: transform 0.4s;
}

.main_info div button {
  background: transparent;
  border: 1px solid var(--red);
}

.main_info div button:hover {
  background: var(--white);
  color: var(--black);
  transition: transform 0.4s;
}
