/* Responsividade para telas menores (até 768px) */
@media (max-width: 768px) {
    header ul.navigation {
      flex-direction: column;
      align-items: center;
    }
  
    main .main_info {
      flex-direction: column;
      align-items: center;
    }
  
    main img {
      width: 100%;
      max-width: 300px;
    }
  }
  